<div class="message-wrapper">
  <div class="message-side-bar">
    <div class="message-side-bar-header">
      <%= link_to "トップページへ", root_path, class: "message-link"%>
      <%= link_to "コミュニティ一覧へ", communities_path, class: "message-link" %>
    </div>
    <div class="message-side-bar-main">
      <div class="message-user">
      <% if user_signed_in? %>
      <%= "#{current_user.nickname}さんのお気に入り一覧" %>
      <i class="fas fa-star"></i>
      <% else %>
      <%= link_to "ゲストさん", new_user_session_path %>
      <% end %>
      </div>
      <% if user_signed_in? %>
      <div class="message-communities" id="message-communities">
      <% current_user.favorite_communities.each do |community| %>
      <%= render partial: 'message_community', locals: { community: community }%>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="message-main">
    <div class="message-header">
      <h2><%= @community.name %></h2>
      <div class="community-favorite" id="<%= @community.id %>">
        <%= render partial: "favorites/favorite", locals: {community: @community} %>
      </div>
    </div>
    <div class="message-field">
      <div class="message" id="message-input">
      <% @messages.each do |message| %>
      <%= render partial: 'messages/message', locals: {message: message} %>
      <% end %>
      </div>    
    </div>
    <div class="message-form-field">
    <% if user_signed_in? %>
      <%= form_with(model: [@community, @message], class: "message-form",  id: "message-form")  do |f| %>
        <%= f.text_field :message,autofocus: true,  placeholder: "メッセージか画像どちらか必須", class: "message-form-input", id: "message" %>
        <label class="message-form-label">
          <span class="image-file">画像</span>
          <%= f.file_field :message_images, multiple: true, class: "hidden", id: "message-images" %>
        </label>
        <%= f.submit "送信", class: "message-form-submit-btn" %>
      <% end %>
    <% else %>
      <div class="sign_in_message">
        <%= link_to "メッセージ投稿にはログインが必要です", new_user_session_path %>
      </div>
    <% end %>    
    </div>          
  </div>
</div>  
