<%= render 'shared/header'%>
<div class="wrapper">
  <div class="map-wrapper">
    <div class="form-map">
    <i class="fas fa-search-location fa-flip-horizontal"></i>
    <h2 class="search-title">住所を検索して見よう！</h2>
    <%= form_with url: search_map_stores_path, method: :get, id: "search-form" do |f| %>
      <%= f.text_field :address, placeholder: "例: 東京都渋谷区神南１−１−１",  class: "form-input-area"%>
      <%= f.submit '地図検索', class: "form-submit-btn" %>
    <% end %>  
    </div>
    <div class="map">
      <div id="map"></div>
      <script>let mapInstance</script>
    </div>
  </div>
  <div class="contents">
    <div class="content">
      <div class="content-message">
        <h2 class="content-message-title upper">お気に入りの飲食店を登録しよう！</h2>
        <p class="content-text">自分のお気に入りの店舗を登録して、地元のみんなとシェアしましょう！</p>
        <i class="fas fa-glass-cheers"></i>
      </div>
      <div class="content-link">
        <%= link_to '飲食店を追加する！', new_store_path, class: 'content-btn' %>
      </div>
    </div>
    <div class="content">
      <div class="content-message">
        <h2 class="content-message-title">近くの人と食を通して交流しよう！</h2>
        <p class="content-text">地元の人達とチャット形式で交流して、コミュニティの輪を広げよう！<p>
        <i class="fas fa-users"></i>
      </div>
      <div class="content-link">  
        <%= link_to 'コミュニティ一覧ページへ！', communities_path, class: 'content-btn' %>
      </div>  
    </div>  
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>" async defer></script>
