 <div class="shared-wrapper">
  <%= render 'shared/header'%>
  <div class="shared-main">
    <div class="store-upper">
      <div class="store-title"><%= @store.name %></div>
      <div class="store-images">
      <% if @store.store_images.present?%>
        <%  @store.store_images.each do |image|%>
          <%= image_tag image , class: "store-image" %>
        <% end %>
      <% else %>
        <%= image_tag '/images/no_image.png', class: "store-image" %>
      <% end %>
      </div>
      <div class="store-categories">
        <div class="store-category"><%= "ジャンル : #{@store.genre.name}" %></div>
        <div class="store-category"><%= "価格帯 : #{@store.price.name}"%></div>
        <div class="store-category"><%= "#{@store.user.nickname}さんのオススメ！"%></div>
        <div class="store-like" id="<%= @store.id %>">
          <%= render partial: "likes/like", locals: {store: @store} %>
        </div>
      </div>
    </div>
    <div class="store-info-box">
      <div class="store-info">
        <div class="store-url">
          <%= "URL : #{@store.url}" %>
        </div>
        <div class="store-info-text">
          <%= "店舗情報 : #{@store.info}" %>
        </div>
      </div>
      <div class="store-map">
        <div id="store-map"></div>
      </div>  
    </div>
    <div class="sns-share">
      <%= link_to "https://twitter.com/share?text=オススメの飲食店#{@store.name}&url=#{request.url}", target: '_blank', class: "sns twitter" do %>
      <i class="fab fa-twitter"></i>Twitterでシェアする
      <% end %>
      <div class="line-it-button line" data-lang="ja" data-type="share-a" data-ver="3" data-url=<%= request.url %> data-color="default" data-size="large" data-count="false" style="display: none;"></div>
        <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
      </div>
    <div class="comment-box">
      <h3 class="comment-title">コメント欄</h3>
      <div class="comment-field">
        <div class="comment" id="comment-input">
        <% @comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: {comment: comment}%>
        <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
      <div class="comment-form-wrapper">
        <%= form_with(model: [@store, @comment], class: "comment-form",  id: "comment-form")  do |f| %>
        <%= render "shared/error_messages", model: f.object %>
          <div class="form-group">
            <div class="form-label">
              <%= f.label :comment, "コメント入力欄", class: "form-label-name" %><span class="form-warning">コメントか画像どちらか必須</span>
            </div> 
            <div class="form-input"> 
              <%= f.text_area :comment, placeholder: "200文字以内", class: "form-text-area", id: "comment" %>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label">
              <%= f.label :comment_images, "画像", class: "form-label-name" %><span class="form-any">6枚まで</span>
            </div> 
            <div class="form-input"> 
              <%= f.file_field :comment_images, accept: 'image/jpg,image/jpeg,image/png,image/gif', multiple: true, name: "comment[comment_images][]",  class: "form-image-btn", id: "comment-images" %>
            </div>        
          </div>
          <div class="form-group">
            <div class="form-submit">
              <%= f.submit "コメントする", class: "form-submit-btn" %>
            </div>
          </div>
        </div>          
        <% end %>        
      <% else %>
      <div class="store-sign-in">
        <h4 class="sign-in-title">コメント投稿にはログインが必要です!</h4>
        <div class="sign-in-links">
          <%= link_to 'ログイン', new_user_session_path, class: "sign-in-link"%>
          <%= link_to '新規登録',  new_user_registration_path , class: "sign-in-link"%>
        </div>
      </div>
      <% end %>
    </div>
    <% if user_signed_in? && current_user.id == @store.user_id %>
    <div class="store-show-links">
      <%= link_to "編集する", edit_store_path(@store), class: "store-show-link" %>
      <%= link_to "削除する", store_path(@store), method: :delete, class: "store-show-link" %>
    </div>
    <% end %>
  </div>
  <%= render "shared/second_footer" %>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>" async defer></script>
