<%# users/show, users/favorite, communities/index, communities/search.js.erbで適用 %>
<table class="community-table">
  <tbody>
    <%# searchアクションの際はidを無くす %>
    <% if params[:action] == "search" %>
    <tr class="table-record">
    <% else %>
    <tr class="table-record" id="input-record">
    <% end %>
      <th class="table-column3">コミュニティ作成日</th>
      <th class="table-column3">コミュニティの名前</th>
      <th class="table-column3">スレッド数</th>            
      <th class="table-column5">リンク</th>
    </tr>
    <% communities.each do |community| %>
    <tr class="table-record" id="favorite-<%= community.id %>" >
      <td class="table-column4"><%=l community.created_at %></td>
      <td class="table-column4"><%= community.name %></td>
      <td class="table-column4"><%= community.messages.length %></td>
      <td class="table-column6">
        <%= link_to '詳細ページへ', community_messages_path(community), class: "table-link" %>
      <% if params[:action] == "favorite" %>
        <%= link_to '削除する', community_favorites_path(community), remote: true, method: :delete, class: "table-link" %>
      <% else %>
        <% if user_signed_in? && current_user.id == community.user_id %>
        <%= link_to '編集する', edit_community_path(community),class: "table-link" %>
        <%= link_to '削除する', community_path(community), method: :delete, class: "table-link" %>
        <% end %>
      <% end %>  
      </td>  
    </tr>
    <% end %>
  </tbody>
</table>  
