<div class="shared-wrappe">
 <%= render 'shared/header'%>
  <div class="shared-main">
    <div class="user-info-box">
      <h2 class="table-title"><%="#{current_user.nickname}さんの登録情報"%></h2>
      <div class="user-info">
      <%= render 'user_table' %>
        <div class="user-links">
          <%= link_to 'ユーザー情報編集', edit_user_path(current_user), class: "user-link"%>
          <%= link_to 'プロフィール情報編集', edit_user_profile_path(current_user, current_user.profile), class: "user-link"%>
          <%= link_to 'アカウント削除', user_path(current_user), method: :delete,  class: "user-link"%>
        </div>
      </div>  
    </div>
    <div class="user-map-wrapper">
      <div class="user-map-title">
        <h2><%="#{current_user.nickname}さんの周辺地図" %></h2>
      </div>  
      <div id="user-map"></div>
      <script>let mapInstance</script>
    </div>
    <div class="user-store-wrapper"> 
      <div class="user-store-title">
        <h2><%= "#{current_user.nickname}さんの登録店舗一覧" %></h2>
      </div>
      <%= render partial: 'store_table', locals: {stores: @user_stores} %>
      <%= paginate @user_stores, param_name: 'store_page' %>
    </div>
    <div class="user-store-wrapper">
      <div class="user-store-title">
        <h2><%= "#{current_user.nickname}さんの作成コミュニティ一覧"%></h2>
      </div>
      <%= render partial: 'community_table', locals: {communities: @user_communities} %>
      <%= paginate @user_communities, param_name: 'community_page' %>
    </div>
  </div>
  <%= render "shared/second_footer" %>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>" async defer></script>  