<header class="header">
  <div class="title">
    <%= link_to 'LocalEating', root_path, class: 'title-name'%>
  </div>
  <div class="links">
    <%# ログイン時はnickname表示 %>
      <%= link_to 'ゲストさん', '#', class:'link'%>
      <%= link_to '飲食店を追加する' , '#', class: 'link' %>
      <%= link_to 'コミュニティ一覧へ', '#', class: 'link'%>
    <%# ログインしている時 %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete,  class: 'link' %>
    <%# ログアウト時   %>
      <%= link_to 'ログイン', new_user_session_path, class: 'link' %>
      <%= link_to '新規登録', new_user_registration_path, class: 'link' %>
  </div>
</header>